<!doctype html>


<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Welcome to Planstr</title>
<style>
.a{
	font-size:16px;color:#33CCFF;font-style:normal;font-weight:200
}
.alignlink{
font-size:13px;
text-align:right;
padding:0px 10px;
margin:0px 10px 20px 40px;
}
.auto-style1 {
	margin-top: 0px;
}
</style>
</head>

<body bgcolor="#4FB8EB" style="width:100%">
<div class="title">
    <%= title %>
</div>
<table cellpadding="0" cellspacing="0" bgcolor="#4FB8EB" align="center"  style="margin:0px 50px 15px 50px">
<tr>

<td width="800" height="150" bgcolor="white" align="center" 
			style="font-family:Georgia, 'Times New Roman', Times, serif;
			font-style:normal;font-size:24px; font-weight:300" >

<div class=alignlink >
 <a href="/signup" style="text-decoration:none;color:#33CCFF">Register</a>
</div>
Planstr
<br>
<span class="a">
Event planing,done in a breeze
</span>
</td>
</tr>
<tr>

<td style="background-image:url('/opt/run/snapshot/package/public/images/homepage.png'); height: 400px; 
text-align: center">
<span style="color:white;font-size:25px;margin-top:30px">
From planing to event <strong>in less than 2 minutes</strong>
<br>
For events from <strong>2 </strong>to 
<strong>2000 </strong>people,<br>
it`s <strong>easy </strong>& <strong>free</strong>
</span>
<br>	
<a href="/signup"> 
<img src="./images/button.png" height="76" width="289" border="0px"/><br></a>
<!--
<input type="button" value="Get Started" style="background-color:white; text-align:center;
 width: 175px; height: 56px;font-size:18px;color:#99CCFF"/>
 inam ye button
 -->
 &nbsp;&nbsp;
 <br>
  <br>
  <span style=" color:white; font-size:18px" > 
  Powerful yet simple <br>
  Perfect for
  <br>
  </span>
  <span style=" color:white; font-size:18px" > 
  <img alt="b" src="./images/img6f1.gif" height="16" width="17" /></span>
  </td>

</tr>
<tr>
<td style="background-color:white">
<img  style=" width:800px" src="./images/homepage2.png"/>
<br/>
<br/>
</td>
</tr>
<tr>
<td style="background-color:white ; width:800px">
<img src="homepage4.png" width="50" style=" margin-left:25px"/>&nbsp;&nbsp;&nbsp;
<span style="font-style:normal; font-weight:200;font-size:23px">Parties</span>

<img src="./images/homepage3.png" align="right" style="margin-right:50px" height="237" width="259"/>
<p style=" margin-left:70px;color:silver;font-size:18px; width: 366px; height: 191px;border-style:none">
Design event pages that will be a joy for<br/>
anyone to use.Get notifications on rsvp`s, let<br/>
people choose dates and locations or let <br/>
them make suggestions, share important<br/>
information with case and share event<br/>
photos when the event is over.
</p>
<center> <a href="#" style="color:#66CCFF">Lets Get this party Started</a></center>
<br/>
<br/>
<img src="./images/homepage6.png" width="50" style="margin-left:25px"/>&nbsp;&nbsp;&nbsp;
<span style="font-style:normal; font-weight:200;font-size:23px">Dinner</span>
<img src="./images/homepage5.png" align="right" style="margin-right:50px" height="237" width="259"/>
<p style=" margin-left:70px;color:silver;font-size:18px; width: 366px; height: 191px;border-style:none">
Quickly set up a private dinner event for you<br/>
and your friends. Add a co-organiser if you<br/>
like to organise it together. Set a budget, let<br/>
your friends choose from diffrent dates and<br/>
locations, organise how to get there, and<br/>
easily split the bill afterwards.</p>
 <center><a href="#" style="color:#66CCFF;margin-left:75px;margin-bottom:100px">Lets Get this party Started</a></center>
 <br/>
 <br/>
 
</td>
</tr>

<tr>
<td>
 <ul style="list-style:none; margin-right:450px; margin-top:10px; width: 129px; color:white"> 
 Planstr
 <li>Footer Goes Here</li>
 
 </ul>
 </td>
</tr>

</table>

</body>

</html>
<html>
