<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <title>Planstr   Event planing</title>
    <style>
.a{
	font-size:18px;color:#33CCFF;font-style:normal;font-weight:200
}
</style> </head>
  <body>
    <table cellspacing="0" cellpadding="0" bgcolor="#4FB8EB" align="center">
      <tbody>
        <tr>
          <td width="800" height="150" bgcolor="#EDF8FD" align="center" style="font-family:Georgia, 'Times New Roman', Times, serif;    font-style:normal;font-size:26px; font-weight:300">
            <br />
            <span style=" margin-top:30px"><strong>Planstr</strong></span> <br />
            <span class="a">Event planing,done in a breeze </span> <br />
            <br />
            <span class="a"><strong>Join Planstr</strong> </span><br />
            <br />
            <br />
            <a href="/auth/facebook"> <img width="257" height="43" border="0px"

                src="./images/register1.png" /><br />
            </a><br />
            <form action="/signup" method="post">
		<div class="form-group">

			<input type="text" class="form-control" name="fullname" value="Full name">
		</div>
		<div class="form-group">

			<input type="text" class="form-control" name="email" style="width: 340px; height: 32px;color:silver" value="Email address">
		</div>
		<div class="form-group">

			<input type="password" class="form-control" name="password" style="width: 340px; height: 32px;color:silver" value="Create a password">
		</div>
		<div class="form-group">

			<input type="text" class="form-control" name="username" style="width: 340px; height: 32px;color:silver" value="Username">
		</div>
		

		<button type="submit" class="btn btn-warning btn-lg">Register</button>
	</form>
             
            
            <span><span style="color:silver; font-size:16px">Already a planstr
                member? Log in</span> <span style="color:#33CCFF">here</span></span>
            <br />
            <br />
          </td>
        </tr>
        <tr>
          <td>
            <ul style="list-style:none; margin-top:10px; width: 129px; color:white">
              <span class="c">Planstr</span>
              <li>Footer Goes Here</li>
              
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
